@import "../variables/colors.scss";
.card-item{
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    height: 14.9rem;
    overflow: hidden;
    background: $whiteColor;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   .card-item-img{
       height: 100%;
   }
   .card-item-header{
    margin:  0 0 1.6rem 0;
    padding-top: -12px;
    margin-top: -0.7rem;
    .card-item-title{
        color: $titleColor;
        .card-item-date{
            color: red
        }
    }
   
   }
   
   .card-item-text{
       color: $textColor;
       margin-bottom: 2rem;
   }

   .card-item-more-info{
    
    
       
   }
    
}