@import "../variables/colors.scss";
.nav{
    background: $primaryColor;
    color:$whiteColor;
    .logo{
      color: $secondaryColor;
      font-weight: bolder;
      &:hover{
          color: $secondaryColor;
      }
    }

}